<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audio_txtRecord</key>
	<dict>
		<key>txtvers</key>
		<string>1</string>
		<key>ch</key>
		<string>2</string>
		<key>cn</key>
		<string>0,1</string>
		<key>et</key>
		<string>0,1</string>
		<key>sv</key>
		<string>false</string>
		<key>da</key>
		<string>true</string>
		<key>sr</key>
		<string>44100</string>
		<key>ss</key>
		<string>16</string>
		<key>pw</key>
		<string>false</string>
		<key>vn</key>
		<string>3</string>
		<key>tp</key>
		<string>TCP,UDP</string>
		<key>md</key>
		<string>0,1,2</string>
		<key>vs</key>
		<string>130.14</string>
		<key>am</key>
		<string>AppleTV2,1</string>
		<key>sf</key>
		<string></string>
	</dict>
	<key>video_txtRecord</key>
	<dict>
		<key>deviceid</key>
		<string>14:DD:A9:DB:B0:83</string>
		<key>features</key>
		<string>0x7</string>
		<key>model</key>
		<string>AppleTV2,1</string>
	</dict>
	<key>audio_type</key>
	<string>_raop._tcp</string>
	<key>audio_port</key>
	<real>5000</real>
	<key>audio_name</key>
	<string>14DDA9DBB083@Douyu</string>
	<key>video_type</key>
	<string>_airplay._tcp</string>
	<key>video_port</key>
	<integer>5000</integer>
	<key>video_name</key>
	<string>Douyu</string>
</dict>
</plist>
