<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audio_txtRecord</key>
	<dict>
		<key>txtvers</key>
		<string>1</string>
		<key>ch</key>
		<string>2</string>
		<key>cn</key>
		<string>0,1,2,3</string>
		<key>da</key>
		<string>true</string>
		<key>et</key>
		<string>0,3,5</string>
		<key>ft</key>
		<string>0x5A7FFFF7,0x1E</string>
		<key>md</key>
		<string>0,1,2</string>
		<key>pw</key>
		<string>false</string>
		<key>sv</key>
		<string>false</string>
		<key>sr</key>
		<string>44100</string>
		<key>ss</key>
		<string>16</string>
		<key>tp</key>
		<string>UDP</string>
		<key>vs</key>
		<string>220.68</string>
		<key>vv</key>
		<string>2</string>
		<key>vn</key>
		<string>65537</string>
		<key>am</key>
		<string>AppleTV3,2</string>
		<key>sf</key>
		<string>0x44</string>
		<key>pk</key>
		<string>63f8eb86beaedf49db35b26d3b0a7145120b85bb272486cb23d573d3af656ea1</string>
	</dict>
	<key>video_txtRecord</key>
	<dict>
		<key>deviceid</key>
		<string>14:DD:A9:DB:B0:83</string>
		<key>features</key>
		<string>0x5A7FFFF7,0x1E</string>
		<key>flags</key>
		<string>0x44</string>
		<key>model</key>
		<string>AppleTV3,2</string>
		<key>srcvers</key>
		<string>220.68</string>
		<key>vv</key>
		<string>2</string>
		<key>pi</key>
		<string>5e66cf9b-0a39-4e0c-9d32-081a8ce63231</string>
		<key>pk</key>
		<string>63f8eb86beaedf49db35b26d3b0a7145120b85bb272486cb23d573d3af656ea1</string>
	</dict>
	<key>audio_type</key>
	<string>_raop._tcp</string>
	<key>audio_port</key>
	<real>5000</real>
	<key>audio_name</key>
	<string>14DDA9DBB083@Douyu</string>
	<key>video_type</key>
	<string>_airplay._tcp</string>
	<key>video_port</key>
	<integer>5000</integer>
	<key>video_name</key>
	<string>Douyu</string>
</dict>
</plist>
